/* div{
    height: 100px;
    width: 100px;
    background-color: rgba(20, 209, 83, 1);
    margin: 0 auto;
    margin-top: 10px;
    transition: margin-top 3s ease-in 0.1s;
}

div:hover{
    background-color: blueviolet;
    margin-top: 350px;
} */



/* div{
    height: 400px;
    width: 700px;
    background-color: #7aa874;
    margin: 10px auto;
    /* border: 2px solid black; */
    /* text-align: center; */
   /* box-shadow: 2px 2px 8px #000; */
   /* background-image: url("tree.jpg");
   background-size: cover;
   color: azure;
   
} */ 

.card{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
    box-shadow:  2px 4px 8px black;
    transition: 1s;
}

.desc{
     padding: 0, 2px, 0, 2px;
}

img{
    width: 100%;
    border-radius: 5px 5px;
}

.card:hover{
    box-shadow:  0px 8px 16px red;

}

