/* div{ */
    /* height: 200px; */
    /* width: 600px; */
    /* background-color: aqua; */
     /* border-width: 5px; 
    border-style: solid; 
    border-color: black;*/
    /* border: 5px solid yellow; */
    /* border-top: 5px  blue;
    border-radius: 10px;
    padding-top: 50px;
    padding-left: 35px;
    padding-right: 30px;
    padding-bottom: 25px;
    margin: 10px 20px 30px;
    

}

h1{
    border-width: 5px;
    border-style: dotted;
    border-color: purple;
    background-color: bisque;
}

button{
    border: 2px solid black;
    border-radius: 25px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: yellow;
} */

/* #outer{
    height: 200px;
    width: 70px;
    border: 2px solid black;
}

.a{
    height: 50px;
    width: 50px;
     border: 2px solid black;
     margin: 10px;
     background-color: red;
     border-radius: 50px;
     padding: 10;
    
}

.b{
    height: 50px;
    width: 50px;
     border: 2px solid black;
     margin: 10px;
     background-color: yellow;
     border-radius: 50px;
     padding: 10;
}

.c{
    height: 50px;
    width: 50px;
     border: 2px solid black;
     margin: 10px;
     background-color: green;
     border-radius: 50px;
     padding: 10;
} */

/* div{ 
    height: 200px;
    width: 200px;
    background-color: yellowgreen;
    border: 2px solid black;
    margin: 5px;
    display: inline-block;
} */

h1{
    border: 2px solid black;
    width: 33.33%;
}

#outer{
    height: 400px;
    width: 400px;
    border: 2px solid black;
    background-color: yellow;
    font-size: 20px;
}

#inner{
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    font-size: 1.5em;
    padding: 1em;
}




