/* #container{
    height: 600px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* flex-wrap: wrap; */
    /* align-content: space-evenly; */
/* }

h1{
    text-align: center;
}

#container div{
    height: 100px;
    width: 200px;
    color: white;
    text-align: center;
    font-size: 1.5em;
}
#org{
    align-self: center;
} */ 

#container{
    height: 400px;
    width: 400px;
    font-size: 50px;
    border-radius: 10px;
    display: flex;
    border: 2px solid lightseagreen;
    flex-direction: row;
     justify-content: space-evenly; 
     flex-wrap: wrap;
     align-items: center;
}

 .A{
    height: 100px;
    width: 100px;
    background-color: gray;
    border: 2px solid black;
    border-radius: 10px;
     text-align: center;

}


#navbar{
    height: 50px;
    width: 900px;
    border-radius: 10px;
    display: flex;
    background-color: pink;
    border: 2px solid lightseagreen;

}

.optain{
     height: 50px;
     width: 80px;
     font-size: 24px;
     border-radius: 10px;
     margin-left: 5px;
     line-height: 50px;
}