

/* body {
  font-family: Arial;ss
}

.green {
    color: purple;
    text-decoration: underline black wavy;
}

#mainImg {
  width: 35%;
}

.box {
  border: 0.25px solid black;
  background-color: lightgray;
  width: 200px;
  padding: 1rem;
}

.boxLink {
  text-decoration: none;
}

.oldImg {
  height: 200px;
  width: 200px;
  margin-right: 1rem;
}

#description {
  background-color: antiquewhite;
} */
/* 
body{
  text-align: center;
}

div {
  height: 100px;
  width: 500px;
  border: 1px solid black;
  margin: auto;
}

.box{
  height: 100px;
  width: 100px;
  background-color: aqua;
  border: 1px solid black;
} */


/* simon says game code */

/* body {
  text-align: center;
}

.btn {
  height: 200px;
  width: 200px;
  border-radius: 20px;
  border: 10px solid black;
  margin: 2.5rem;

}

.btn-conatainer {
  display: flex;
  justify-content: center;
}

.yellow {
  background-color: #f99b45;
}

.red {
  background-color: #d95980;
}


.green {
  background-color: #63aac0;
}


.purple {
  background-color: #819ff9;
}

.flash {
  background-color: white;
}

.userflash{
  background-color: green;
} */