/* div{
    height: 100px;
    width: 100px;
    background-color: green;
    text-align: center;
    border: 3px solid black;
    margin: 20px;
    display: inline-block;
}

#static{
    background-color: yellow;
    position: static;
    top: 100px;
    left: 100px;
}

#Relative{
       background-color: yellow;
    position: relative;
    top: 100px;
    left: 100px;
}

#absolute{
     background-color: yellow;
     position: absolute;
     top: 100px;
     left: 100px;
}

#fixed{
       background-color: yellow;
     position: fixed;
     top: 100px;
     left: 100px;
} */


.face{
    width: 400px;
    height: 400px;
    background-color: #ffa511;
    border-radius: 50%;
}

.mouth{
    width: 200px;
    height: 75px;
    background-color: brown;
    border-radius: 0 0 50px 50px;
    position: absolute;
    top: 250px;
    left: 100px;
}

.left-eye, .right-eye {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    display: inline-block;
    position: absolute;
    left: 100px;
    top: 100px;
}

.right-eye{
    left: 250px;
}