/* div{
    height: 150px;
    width: 300px;
    background-color: gray;
    border: 5px black dotted;
    margin-top: 20px;
    margin-right: 1em;
    margin-bottom: 40px;
    margin-left: 2em;
    padding: 1em;
} */

div{
    height: 100px;
    width: 100px;
    background-color: pink;
    border: 2px solid black;
    border-radius: 50%;
    display: inline-block;
}

li{
    display: inline;
}