#maintopic{
    color: blue;
    
}
h1,h3,h5{
    font-family: Georgia;
}

*{
    text-align: center;
}

#topic{
    color: white;
    background-color: cornflowerblue;
}

button{
    background-color: purple;
    color: azure;
}
button:hover{
    background-color: yellow;
    color: blue;
}

#topic:nth-of-type(2n+1) {
    color: yellow;
}

h1::first-letter{
    color: red;
}
#yes:hover + label{
    color: green;
}
