/* .card {
  width: 400px;
  border: 2px solid black;
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
}

img {
  width: 100%;
  border-radius: 25px;
}

h2 {
  color: #d56f3e;
}

span {
  color: #9d6f24;
}

h4 {
  text-align: right;
  color: #3c787e;
}

#pets {
  display: flex;
  justify-content: space-evenly;
} */

/* .box{
    height: 150px;
    width: 150px;
    border: 2px solid black;
    background-color: pink;
    text-align: center;
}

.one{
    background-color: aquamarine;
    position: relative;
    z-index: -1;
}

.two{
    background-color: darkorange;
    position: relative;
    bottom: 50px;
    z-index: 2;
}


.box{
    background-color: pink;
    border: 2px solid black; 
    height: 200px;
    width: 750px;
    grid-template-columns: (3.1fr);
    column-gap: 10px 20px;
    grid-column: 1/3;

}*/

.container{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap:10px
}

.container div{
    background-color: pink;
    font-size: 1.5rem;
}

.header{
    grid-column: 1/span 12;
}

.sidebar{
    grid-column: 1/4;
    grid-row: 2/11;
}

.navigation{
    grid-column: 4/span 6;

}

.ads{
    grid-column: 10 / span 3;
    grid-row: 2/ span 10;
}

.main{
    grid-column: 4 / span 6;
    grid-row: 3/ span 9;
}

.footer{
    grid-column: 1 / span 12;
}

@media (max-width: 720px) {
    .header{
        grid-column: 1/span 12;
    }
}

.loader{
    border: 16px solid #f3f3f3;
    border-top: 16px solid goldenrod;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
     0%{
        transform: rotate(0deg);
     }
     100% {
        transform: rotate(360deg);
     }
}